@page
@model IndexModel
@{
    Layout = "_Layout";
}

<div class="section section-hero section-shaped pt-0">
      <div class="page-header mt-n3">
        <img class="bg-image" src="./assets/img/ill/index_bg.svg" alt="">
        <div class="container shape-container d-flex align-items-center py-lg">
          <div class="col px-0">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-6 text-center">
                <img src="/img/CanariasBlog/CanariasBlog.png" class="mt-5" style="width: 200px;" class="img-fluid">
                <p class="lead"> <b class="display-3">CanariasBlog</b> <br>Create your own blog, manage posts, languages, comments and likes.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<script src="/js/BasicCore/jquery-3.6.1.min.js"></script>
<script src="/assets/vendor/quill/dist/quill.min.js"></script>
<script></script>